{
  "db": {
    "elasticsearch": {
      "host": "127.0.0.1",
      "port": 9200
    },
    "mysql": {
      "host": "127.0.0.1",
      "port": 3306,
      "user": "root",
      "password": ""
    },
    "redis": {
      "host": "127.0.0.1",
      "port": 6379
    }
  },
  "env": "local",
  "server": {
    "log": {
      "app": "chronicle",
      "debug": false,
      "fmt": "pretty",
      "level": "verbose"
    },
    "host": "127.0.0.1",
    "port": 8080,
    "oauth": {
      "client_id": "asdfjkl",
      "client_secret": "asdfjklasdfjkl",
      "redirect_uri": "http://localhost:8080/auth/complete",
      "scope": "profile",
      "oauth_uri": "https://oauth-latest.dev.lcip.org/v1",
      "profile_uri": "https://latest.dev.lcip.org/profile/v1"
    }
  }
}
